* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.discordimage {
    margin-left: 10%;
    margin-top: 4%;
    width: 18vw;
    height: auto;
    transition: transform 0.5s ease-out;
}

.discordimage:hover {
    transform: scale(1.2);
}

.instaimage {
    margin-left: 14%;
    display: block;
    margin-top: 4%;
    width: 10%;
    transition: transform 0.5s ease-out;
}

.instaimage:hover {
    transform: scale(1.2);
}

.mailimage {
    margin-left: 11.7%;
    display: block;
    margin-top: 2%;
    width: 14%;
    transition: transform 0.5s ease-out;
}

.mailimage:hover {
    transform: scale(1.2);
}

.instantmail {
    margin-left: 42%;
    margin-top: -38%;
    background-color: #1d296f;
    width: 40vw;
    height: 60vh;
    box-shadow: 10px 10px black;
}

.instantmail h1 {
    color: white;
    padding-top: 2vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 30px;
}

.fnamebox {
    margin-left: 4vw;
    width: 15vw;
    height: 5vh;
    background-color: white;
}

.fnamebox input {
    text-align: left;
    width: 91%;
    height: 84%;
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding-left: 6%;
}

.lnamebox {
    margin-left: 21vw;
    margin-top: -5vh;
    width: 15vw;
    height: 5vh;
    background-color: white;
}

.lnamebox input {
    text-align: left;
    width: 91%;
    height: 84%;
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding-left: 6%;

}

.emailbox {
    margin-left: 4vw;
    margin-top: 3vh;
    width: 32vw;
    height: 5vh;
    background-color: white;
}

.emailbox input {
    text-align: left;
    width: 96%;
    height: 84%;
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding-left: 3%;
}

.questionbox {
    margin-left: 4vw;
    margin-top: 3vh;
    width: 32vw;
    height: 24vh;
    background-color: white;
}

.questionbox input {
    text-align: left;
    width: 96%;
    height: 97%;
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding-left: 3%;
}

.submitbutton input {
    background-color: azure;
    width: 10vw;
    height: 5vh;
    margin-top: 2%;
    margin-left: 10%;
    border-radius: 6px;
    color: black;
    font-weight: bold;
    /* Code to animate button */
    box-shadow: inset 0 0 0 0 rgb(2, 79, 14);
    transition: ease-out 0.3s;
    outline: none;
}

.submitbutton input:hover {
    box-shadow: inset 10vw 0 0 0 rgb(2, 79, 14);
    color: white;
    cursor: pointer;
}