* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #F2E3D5;
    color: #F2E3D5;
}

.faqClassContainer {
    position: relative;
}

.questionContainer {
    display: block;
    margin: 40px;
}

.questionBox {
    background-color: #3CA6A6;
    margin: 0px;
    width: 50vw;
    height: 8vh;
    min-height: 50px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    line-height: 50px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 0px 6px 1px  rgba(0, 0, 0, 0.404);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: inline-block;
    scrollbar-width: thin;
    padding-left: 2px;
}

.answerBox {
    background-color: #024959;
    margin: 0px;
    width: 80vw;
    height: 20vh;
    min-height: 140px;
    border-radius: 0px 10px 10px 10px;
    box-shadow: 0px 0px 6px 1px  rgba(0, 0, 0, 0.404);
}

.informationBox {
    background-color: #3CA6A6;
    margin: 4vw;
    margin-left: 18vw;
    width: 64vw;
    height: 12vh;
    min-height: 80px;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 1px  rgba(0, 0, 0, 0.404);
    overflow-y: auto;
}
