.navbar {
    background-color:#012E40;
    height: 7vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    margin: 0;
    background-color: rgb(221, 214, 214);
    overflow-x: hidden;
}

#counter {
    font-size: 1.5vw;
    color: rgb(207, 137, 44);
    position: absolute;
    top: -2%;
    left: 91%;
    border-radius: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar .navdiv .cart {
    color: #F2E3D5;
    font-size: 1.6vw;
}

.navbar .navdiv .login {
    color: white;
    font-size: 1.6vw;
    margin-left: 10vw;
}

#cartIcon {
    color: white;
    font-size: 1.6vw;
    margin-left: -2%;
}

.navbar .navdiv .cart:hover {
    color: #3CA6A6;
}

.navbar .navdiv .login:hover {
    color: #3CA6A6;
}

.navbar a {
    color: #F2E3D5;
    padding: 2vw;
    text-decoration: none;
    font-weight: bolder;
    font-size: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar ul {
    list-style: none;
    padding-left: 2vw;
}

.navbar li {
    display: inline;
}

.navbar a:hover {
    color: #3CA6A6;
}

.navbar a.active {
    color: #3CA6A6;
}

.contentContainer {
    position: relative;
    display: flex;
}

.aboutContainer {
    width: 50vw;
    display: block;
}

.images {
    position: relative;
    margin-left: 20vw;
    margin-top: 10vh;
    height: 70vh;
    background-color: red;
}

.aboutbox {
    background-color: #024959;
    height: 70vh;
    width: 50vw;
    margin: 60px;
    padding-left: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 2px  rgba(0, 0, 0, 0.404);
}

.aboutbox h1 {
    color: #F2E3D5;
    font-size: 50px;
    justify-content: center;
    text-align: center;
}

.aboutbox p1 {
    font-size: 2vw;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    text-align: center;
}

.homeimg {
    width: 16vw;
    height: auto; 
    position: absolute;
    mix-blend-mode: normal;
    border-radius: 40px;
    background-color: #024959;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.531);
}

#pc1 {
    top: 55%;
}

#pc2 {
    bottom: 55%;
}