.navbar {
    background-color:#012E40;
    height: 7vh;
    width: 100vw;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#counter {
    position: absolute;
    display: flex;
    color: orange;
    font-size: 20px;
    width: 60px;
    height: 20px;
    top: 1vw;
    left: 90vw;
}

body {
    margin: 0;
    background-color: #F2E3D5;
    overflow-x: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar .navdiv .cart {
    color: #F2E3D5;
    font-size: 1.6vw;
}

#loginNav {
    color: #F2E3D5;
    font-size: 1.6vw;
    margin-left: 24vw;
}

#loginNav:hover {
    color: #3CA6A6;
}
#cartNav:hover {
    color: #3CA6A6;
}

#cartIcon {
    color: #F2E3D5;
    font-size: 1.6vw;
    margin-left: -2%;
}

.navbar a {
    color: #F2E3D5;
    padding: 2vw;
    text-decoration: none;
    font-weight: bolder;
    font-size: 2vw;
}

.navbar ul {
    list-style: none;
    padding-left: 2vw;
}

.navbar li {
    display: inline;
}

.navbar a:hover {
    color: #3CA6A6;
}

.navbar a.active {
    color: #3CA6A6;
}

.contentContainer {
    position: relative;
    display: block;
}

.aboutContainer {
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
}

.images {
    display: flex;
    height: 52vh;
    width: 60vw;
    margin-left: 20vw;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
}

.aboutbox {
    background-color: #024959;
    height: 80%;
    width: 80%;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 2px  rgba(0, 0, 0, 0.404);
    overflow-y: auto;
}

.aboutbox h1 {
    color: #F2E3D5;
    font-size: 50px;
}

.aboutbox p1 {
    font-size: 20px;
    color: #F2E3D5;
    display: inline-block;
    padding-left: 10px;
    padding-bottom: 30px;
    justify-content: center;
    text-align: center;
}

.homeimg {
    width: 16vw;
    height: 16vw; 
    mix-blend-mode: normal;
    border-radius: 40px;
    background-color: #024959;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.531);
}

#pc1,
#pc2 {
    min-width: 150px;
    min-height: 150px;
}

